
{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Нотатки</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>My notes</h1>

    
    <ul>
        <hr>
        {% for note in notes %}

        <li>
            <strong>{{ note.title }}</strong> - {{ note.text }} 
            <br>
            Category: {{ note.category.title }}
            <br>
            Riminder: {{ note.reminder }}
            <hr>
        </li>
        
        {% endfor %}
    </div>
</body>
</html>