<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My beautiful notes</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>My notes</h1>
    <div class="notes-container">   
        {% for note in notes %}
            <div class="note">
                <h2>{{ note.title }}</h2>
                <p>{{ note.content }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
